/*
NB If new menu item is added after ABOUT, remove last-child border right - none property
*/
/*
NB flexing a headache in IE so aligning self must replace the auto margin as shown in Flexbugs
*/

.body_text{
	color:#2a2922;
	font-family: 'Roboto', sans-serif;
	font-size:16p;
	font-weight:normal;
	padding:0px 12px;
}

#brand{
	float:left;
}

#columnLeft{
	height:90%;
	width:29%;
	align-self: center;
	margin-right:1.75%;
	padding:10px;
	background-color: #c2db9b;
	border: 1px solid;
	border-radius: 15px;
	border-color:#AEE4E4;
}

#columnMiddle{
	height:90%;
	width:29%;
	align-self: center;
	margin-left:1.75%;
	margin-right:1.75%;
	padding:10px;
	background-color: #aff3f3;
	border: 1px solid;
	border-radius: 15px;
	border-color:#AEE4E4;
}

#columnRight{
	height:90%;
	width:29%;
	align-self: center;
	margin-left:1.75%;
	padding:10px;
	background-color: #c2db9b;
	border: 1px solid;
	border-radius: 15px;
	border-color:#AEE4E4;
}

#container{
	background: linear-gradient(#bcd890, #aff3f3);
	background: -webkit-linear-gradient(#bcd890, #aff3f3);
	background: -o-linear-gradient(#bcd8907, #aff3f3);
	background: -moz-linear-gradient(#bcd890, #aff3f3);
	background-color:#aff3f3;
	margin:0 auto;
	height:100px;
	width:90%;
	border: solid, 1px;
	border-color:#aff3f3;
	border-radius:15px;
	}

#header{
	height:80px;
	padding-left:40px;
	margin:15px auto;	
	}

#menu{
	background: linear-gradient(#cee2ae, #b8e8e8);
	background: -webkit-linear-gradient(#cee2ae, #b8e8e8);
	background: -o-linear-gradient(#cee2ae, #b8e8e8);
	background: -moz-linear-gradient(#cee2ae, #b8e8e8);	
	margin:40px auto;
	height:50px;
	width:90%;
	border: solid, 1px;
	border-color:#aff3f3;
	border-radius:15px;
}

#menu ul li:last-child{border-right:none;
	}

#menu ul li a:hover{
	font-size:24px;
	color:#ff7f24;
}

#SearchBox{
	width:30%;
	background-color:#e0c1f3;
	border:1px; 
	border-color:#d98dff;
	border-style:solid;
	float:right; 
	margin: 15px 15px 15px 15px; 
	padding:15px;  		
	}


body {
	background-image: url(background-themes-SMALL-op40.jpg);
	background-repeat: repeat;
}

.BoxShadow{
	-webkit-box-shadow:-2px 2px 3px 4px rgba(112,190,190, 0.5);
	-moz-box-shadow: -2px 2px 3px 4px rgba(112,190,190, 0.5);
	box-shadow:-2px 2px 3px 0px rgba(112,190,190, 0.5);
}

.caption{
	color:#2a2922;
	font-family:'Roboto', sans-serif;
	font-size:12px;
	padding: 0px 12px;
}

.flexColumn1{
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display:flex;
	flex-direction:row;
	justify-content: center;
	height:900px;
	width:90%;
	margin:0 auto;
}

.footer{
	height:40px;
	width:90%;
	background:linear-gradient(#e8bbff, #f6e3ff);
	background: -webkit-linear-gradient(#e8bbff, #f6e3ff);
	background: -o-linear-gradient(#e8bbff, #f6e3ff);
	background: -moz-linear-gradient(#e8bbff, #f6e3ff);
	margin:20px auto;
	padding:15px;
	border: solid, 1px;
	border-color:#e4adff;
	border-radius:15px;
	text-align: center;
}
	
	h1 a{
	font-family: 'Ubuntu', sans-serif;
	font-size:42px;
	font-weight:bold;
	text-decoration:none;
	color:#ab37e5;
	text-shadow:-2px 2px 1px #b7fedb;
	padding-left:15px;
	}

h2{
	color:#ab37e5;
	font-family: 'Ubuntu', sans-serif;
	font-size:32;
	text-decoration:none;
	text-shadow:-2px 2px 1px #e4d7e5;
	padding-left:15px;
}

h3{
	color:#f4642e;
	font-family: 'Ubuntu', sans-serif;
	font-size:24;
	text-decoration:none;
	padding-left:15px;
}

a.linkBody:link{
	color:#D500F9;
	text-decoration: none;
}
a.linkBody:visited{
	color:darkorchid;
}
a.linkBody:hover{
	color:#FF3D00;
	font-size:120%;
}
a.linkMore{
	color:#D500F9;
	font-family:'Roboto', sans-serif;
	font-size:14px;
	text-decoration:none;
}
a.linkSmall:link{
	color:#D500F9;
	font-family:'Roboto', Arial, sans-serif;
	font-size:12px;
	text-decoration: none;
}
.SearchButton{
	float:right;
	background-color:#d1f8f8;
	color:#d277ff;
	font-size:14px;
	font-weight:bold;
	margin-left: 15px;
	padding:8px;
	}

.smallText{
	font-family:'Roboto', Arial, sans-serif;
	font-size:11px;
	color:#D500F9;
}

.text{
	background-color:white;
	background-image: url('Magnifying_glass_Mod_Pict30px.png');
	background-position:right center;
	background-repeat:no-repeat;
	height:30px; 
	width:65%;
	padding-right:32px;
}

.topnav{
	list-style-type:none;
	}

.topnav li{
	display:inline;
	border-right: 2px solid #d59bf2;
}

	.topnav a{
		display:inline-block;
		color:#ab37e5;
		font-family:'Ubuntu';
		font-size:20px;
		text-decoration: none;
		text-transform:uppercase;
		padding-top:10px;padding-bottom: 10px;padding-left:20px;padding-right: 20px;
		line-height: 30px;
}



